<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

        <!-- Custom CSS-->
        <link rel="stylesheet" href="/static/css/styles.css">

    </head>
    <body>
        <!-- Nav Bar -->

        <div>
            {% block body %}BODY GOES HERE{% endblock %}
        </div>

        <!-- Footer -->
        
    </body>
</html>